  
  <h1>Places</h1>
<% if @current_user %>
<p class="nav-item">
              <a href="/places/new/" class="btn btn-success">New Place</a>
            </p>


<p>
  <% for place in @places %>
    <p><a href="/places/<%= place["id"] %>" style="color: green;"><%= place["name"] %></a></p>
  <% end %>
</p>

<% end %>
